{% extends 'base.html' %} 
{% block content %} 
<!-- <div class="container my-auto"> -->
    <div class="row">
        <div class="col">
            <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
          {% if object %}
              <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Edit Cart <span class="teal-text">{{ object.id }}</span></h4>
          {% else %}
              <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Add Cart</h4>
          {% endif %}
            </div>
            <br>
            <br>
        </div>
        <button id="addRow">Add new row</button>
          <table class="table" style="width:100%" id="example">
            <thead>
              <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Product Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> <span>1234</span> </td>
                <td> <span>hussain</span></td> 
                <td> <span>15</span></td>    
              </tr>
                <tr>
                    <td> <span>9999</span> </td>
                    <td> <span>hussain2</span></td> 
                    <td> <span>30</span></td>
                </tr>
            </tbody>
            <tfoot>
                <!-- <tr> -->
                    <!-- <th colspan="2" style="text-align:right">Total:</th> -->
                    <th></th>
                    <th></th>
                    <th></th>   
                <!-- </tr> -->
            </tfoot>
            </table>
        </div>
<script>
// $(document).ready(function () {
//     var table = $('#example').DataTable();
//     // this is for selecting row
//     //  $('#example tbody').on('click', 'tr', function () {
//     //     var data = table.row(this).data();
//     //     alert('You clicked on ' + data[0] + "'s row");
//     // });

//     // this is for adding new row
//     // var counter = 1;
//     // $('#addRow').on('click', function () {
//     //  table.row.add([counter, 'Hussain10', 19]).draw(false);
//     //  counter++;
//     // });
// });

// this is for adding total on column 3 table footer
$(document).ready( function () {
	    $('#example').DataTable( {
		    drawCallback: function () {
		      var api = this.api();
		      var sum = 0;
		      var formated = 0;
		      //to show first th
		      $(api.column(1).footer()).html('Total');

		      for(var i=2; i<=5;i++)
		      {
		      	sum = api.column(i, {page:'current'}).data().sum();

		      	//to format this sum
		      	formated = parseFloat(sum).toLocaleString(undefined, {minimumFractionDigits:3});
		      	$(api.column(i).footer()).html('BHD '+formated);
		      }
		    }
		});
	});


</script>
{% endblock %}