{% extends 'base.html' %}

{% block content %}

<div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3">Order table</h6>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-secondary opacity-7"></th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Order ID</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Order Status</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Payment Status</th>
                  </tr>
                </thead>


                <tbody>
                {% for object in order_list %}
                {% load static %}
                  <tr>
                    <td class="align-middle">
                        <a href="{% url 'orders_detail' object.id %}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                          <span class="material-icons" style="margin-left:10px">visibility</span>
                        </a>
                    </td>
                    <td class="align-middle text-left">
                        <span class="text-secondary text-xs font-weight-bold" style="margin-left:30px">{{ object.id }}</span>
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">{{ object.get_order_status_display }}</span>
                    </td>
                    <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">{{ object.get_payment_status_display }}</span>
                    </td>
                  </tr>
                  {% endfor %}

                  
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div id="pagination-div">
            {% if page_obj.has_previous %}
            {% endif %}
            <nav aria-label="Page navigation">
              <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&#8249;</a></li>
                {% else %}
                <li class="page-item"><a class="page-link">&#8249;</a></li>
                {% endif %}
                
                {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                <li class="page-item"><a class="page-link" href="#">{{ i }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
    
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&#8250;</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="#">&#8250;</a></li>
                {% endif %}
              </ul>
            </nav>
          </div>

      </div>
    </div>
{% endblock %}
