{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="row">
    <div class="col-md-12 mt-4">
      <div class="card">
        <div class="card-header pb-0 px-3">
          <h6 class="mb-0">Order Details</h6>
        </div>
        <div class="card-body pt-4 p-3">
          <ul class="list-group">
            <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">

                <div class="d-flex flex-column">
                <h6 class="mb-3 text-sm">Order ID: <span class="text-dark font-weight-bold ms-sm-2">{{ object.id }}</span></h6>

                <span class="mb-2 text-xs">User: <span class="text-dark font-weight-bold ms-sm-2">{{ object.user }}</span></span>
                <span class="mb-2 text-xs">Created Date: <span class="text-dark ms-sm-2 font-weight-bold">{{ object.created_date }}</span></span>
                <span class="mb-2 text-xs">Cart: <span class="text-dark ms-sm-2 font-weight-bold">{{ object.cart_id }}</span></span>
                <span class="mb-2 text-xs">Order Status: <span class="text-dark ms-sm-2 font-weight-bold">{{ object.get_order_status_display }}</span></span>
                <span class="mb-2 text-xs">Payment Type: <span class="text-dark ms-sm-2 font-weight-bold">{{ object.get_payment_type_display }}</span></span>
                <span class="mb-2 text-xs">Payment Status: <span class="text-dark ms-sm-2 font-weight-bold">{{ object.get_payment_status_display }}</span></span>
              </div>

              <div class="ms-auto text-end">
                <a class="btn btn-link text-dark px-3 mb-0" href="{% url 'orders_update' object.id %}"><i class="material-icons text-sm me-2">edit</i>Edit</a>
                <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="{% url 'orders_delete' object.id %}"><i class="material-icons text-sm me-2">delete</i>Delete</a>
              </div>

            </li>
          </ul>
        </div>
      </div>
      {% for cartItem in order.cart_item %}
        {{ cartItem.id }}
        {% endfor %}
    </div>
  </div>
  {% endblock %}
