{% extends "base2.html" %}

{% block title %}Email Sent{% endblock %}

{% block content %}

<div class="container-fluid py-4">
  <div class="row min-vh-80">
    <div class="col-6 mx-auto">
      <div class="card mt-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Check your inbox.</h6>
          </div>
        </div>
        <div class="card-body">
          <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}